<% layout('layout/page.ejs') %>


<img src="<%= picture %>" max-width=600px height=600px alt="Computer Hope" style= "float: left;margin-right: 40px; margin-bottom: 5px;
border:solid black 1px; padding: 2">
<h1 class="colors"><%= title %></h1>
<p class="colors"><%= about %></p>

</head>
<body style= "background:url(/images/back.jpg);">